<!-- blocked.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocked Page</title>
</head>
<body>
    <div>
        <h1>You are blocked</h1>
        <p>Sorry, you are not allowed to access this page.</p>
    </div>
</body>
</html>
