<nav class="navbar navbar-expand-lg navbar-light" style="background-color: green; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <a class="navbar-brand" href="/admin/dashboard" style="color: #fff; font-size: 24px; font-weight: 600;">Admin dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="/admin/user-mg" style="color: #fff; font-size: 16px; font-weight: 500; margin-left: 25px;">User Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/product-mg" style="color: #fff; font-size: 16px; font-weight: 500; margin-left: 25px;">Product Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/category-mg" style="color: #fff; font-size: 16px; font-weight: 500; margin-left: 25px;">Category Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/orderManagement" style="color: #fff; font-size: 16px; font-weight: 500; margin-left: 25px;">Order Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/coupons" style="color: #fff; font-size: 16px; font-weight: 500; margin-left: 25px;">Coupon Management</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/admin/sales-report" style="color: #fff; font-size: 16px; font-weight: 500; margin-left: 25px;">Sales Report</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/admin/logout" style="color: #fff; font-size: 16px; font-weight: 500; margin-left: 25px;">Logout</a>
            </li>
        </ul>
    </div>
</nav>

